.DS_Store
/files
/data
/OLD
/credentials
jobs_data_lake/prefect_spark/__pycache__/
/linkedIn_job_scrapper/chromedriver_mac_arm64
linkedIn_job_scrapper/chromedriver_mac_arm64/chromedriver
linkedIn_job_scrapper/chromedriver_mac_arm64/LICENSE.chromedriver
config.ini
jobs_count.csv
jobs_count.parquet
scraping.log
